@font-face {
  font-family: 'Source Code';
  font-weight: 200 900;
  font-display: swap;
  font-stretch: normal;
  font-style: normal;
  src: url('/fonts/source-code.woff2') format('woff2'),
    url('/fonts/source-code.woff') format('woff'),
    url('/fonts/source-code.otf') format('opentype');
}

@font-face {
  font-family: 'Source Code';
  font-weight: 200 900;
  font-display: swap;
  font-stretch: normal;
  font-style: italic;
  src: url('/fonts/source-code-italic.woff2') format('woff2'),
    url('/fonts/source-code-italic.woff') format('woff'),
    url('/fonts/source-code-italic.otf') format('opentype');
}
