---
title: const.sh
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="{{ favicon or '/favicon.png' }}">
    <link rel="stylesheet" href="/styles/main.css">
    {% for href in styles %}
      <link rel="stylesheet" href="{{ href }}">
    {% endfor %}
  </head>
  <body>
    {{ content | safe }}
    <footer>
      <p>
        <small><a href="/">const.sh</a>. Made by <a href="https://florian.ec">Florian Eckerstorfer</a> in Vienna, Europe.
        </small>
      </p>
    </footer>

    {% for src in scripts %}
      <script src="{{ src }}" async></script>
    {% endfor %}
  </body>
</html>