---
title: const.sh
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content | safe }}
    <footer>
      <p>
        <small>&copy; 2020 <a href="https://florian.ec">Florian Eckerstorfer</a>
        </p>
      </footer>
    </body>
  </html>