---
title: const.sh
structure: default
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% if favicon %}
      <link rel="shortcut icon" type="image/png" href="{{ favicon }}">
    {% else %}
      <link rel="icon" href="/favicon.svg" type="image/svg+xml">
      <link rel="shortcut icon" href="/favicon.png" type="image/png">
    {% endif %}
    <link rel="stylesheet" href="{{ css.stylesCss }}">
    {% for href in styles %}
      <link rel="stylesheet" href="{{ href }}">
    {% endfor %}
  </head>
  <body class="{{ body_class_name }}">
    <div class="structure structure--{{ structure }}">
      {{ content | safe }}
    
      <footer class="footer">
        <p>
          <small>
            <a href="/">const.sh</a>. Made by <a href="https://florian.ec">Florian Eckerstorfer</a> in Vienna, Europe.
        </small>
        </p>
      </footer>
    </div>

    {% for src in scripts %}
      <script src="{{ src }}" async></script>
    {% endfor %}

    <script data-goatcounter="https://const.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  </body>
</html>