---
title: const.sh
layout: generic
---
<div class="centered-page">
  <ul class="ls-list">
    <li>
      <a href="/emojicon">Emojicon</a>
    </li>
    <li>
      <a href="/covid19-at">COVID19 in &Ouml;sterreich</a>
    </li>
  </ul>
</div>