---
title: const.sh
layout: base
structure: hmsf-index
---
<header class="header header--index">
  <h1 class="h1-cli">
    <span class="h1-cli__computer">const.sh</span> 
    <span class="h1-cli__seperator">❯</span> 
    <span class="h1-cli__command">ls</span></h1>
</header>
<main class="main main--index">
<ul class="ls-list">
  {%- for post in collections.project -%}
    <li><a href="{{ post.url }}">{{ post.url | removeTrailingSlash }}</a></li>
  {%- endfor -%}
  </ul>
</main>
<aside class="sidebar">
  <h2>Updates</h2>
  <ul class="update-list">
  {%- for post in collections.update | reverse -%}
    <li class="update-list__item">
      <h3 class="update-list__title">{{ post.data.title }}</h3>
      {{ post.templateContent | safe }}
      <div class="update-list__meta">
        <span>{{ post.data.date | formatDate('MMM D, YYYY') }}</span>
      </div>
    </li>
  {%- endfor -%}
  </ul>
</aside>