---
title: COVID19 in Österreich
layout: base
structure: hmf
version: 1.1.0
created_at: 2021-02-27
updated_at: 2021-03-01
tags: [project]
scripts:
  - /covid19-at/main.js
styles:
  - /covid19-at/main.css
---
{% set defaultProvince = 10 %}
{% set stats = [ 
  { id: 'SiebenTageInzidenzFaelle', name: '7 Tage Inzidenz', higherIsBetter: false, isPercent: false },
  { id: 'AnzahlFaelle', name: 'Fälle', higherIsBetter: false, isPercent: false },
  { id: 'AnzahlTotTaeglich', name: 'Todesfälle', higherIsBetter: false, isPercent: false },
  { id: 'AnzahlGeheiltTaeglich', name: 'Genesene', higherIsBetter: true, isPercent: false },
  { id: 'Test', name: 'Tests', higherIsBetter: true, isPercent: false },
  { id: 'FZHospPercent', name: 'Normalstation', description: 'Auslastung', higherIsBetter: false, isPercent: true },
  { id: 'FZICUPercent', name: 'Intensivstation', description: 'Auslastung', higherIsBetter: false, isPercent: true },
  { id: 'TeilgeimpfteTaeglich', name: '1. Impfdosis', higherIsBetter: true, isPercent: false },
  { id: 'VollimmunisierteTaeglich', name: '2. Impfdosis', higherIsBetter: true, isPercent: false }
] %}
<header class="header header--covid19-at">
  <h1><strong>COVID19</strong> in <br>Österreich</h1>
</header>
<main class="main main--covid19-at">
  <h2>Tägliche Übersicht</h2>
  <div class="covid19-table">
    <div class="covid19-table__select">
      <select id="select-7ti">
        {% for province in provinces %}
          <option value="{{ province.BundeslandID }}" {{ "selected" if province.BundeslandID === defaultProvince }}>
            {{ province.Bundesland }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="covid19-table__header">Aktuell<br><span class="date">{{ dates.yesterday }}</span></div>
    <div class="covid19-table__header">Tag davor<br><span class="date">{{ dates.beforeYesterday }}</span></div>
    <div class="covid19-table__header">Vor einer Woche<br><span class="date">{{ dates.lastWeek }}</span></div>
    <div class="covid19-table__header">Vor einem Monat<br><span class="date">{{ dates.lastMonth }}</span></div>
    {% for province in provinces %}
      {% for stat in stats %}
        {% set row = timeline | covid19AtRowByProvince(province.BundeslandID, dates) %}
          <div class="covid19-table__cell covid19-table__stat-name {{ "hide" if province.BundeslandID !== defaultProvince }}" data-bundesland="{{ province.BundeslandID }}" data-stat="{{ stat.id }}">
            {{ stat.name }}
            {% if stat.description %}
            <span class="covid19-table__stat-description">{{ stat.description }}</span>
            {% endif %}
          </div>
          <div data-bundesland="{{ province.BundeslandID }}" data-stat="{{ stat.id }}" class="covid19-table__cell covid19-table__value {{ "hide" if province.BundeslandID !== defaultProvince }}">
            {{ row.yesterday[stat.id] | round | formatNumber(stat.isPercent) }}
          </div>
          <div data-bundesland="{{ province.BundeslandID }}" data-stat="{{ stat.id }}" class="covid19-table__cell covid19-table__value {{ "hide" if province.BundeslandID !== defaultProvince }}">
            {{ row.beforeYesterday[stat.id] | round | formatNumber(stat.isPercent) }}
            {% covid19AtDiffBetweenValues row.yesterday[stat.id], row.beforeYesterday[stat.id], stat.higherIsBetter %}
          </div>
          <div data-bundesland="{{ province.BundeslandID }}" data-stat="{{ stat.id }}" class="covid19-table__cell covid19-table__value {{ "hide" if province.BundeslandID !== defaultProvince }}">
            {{ row.lastWeek[stat.id] | round | formatNumber(stat.isPercent) }}
            {% covid19AtDiffBetweenValues row.yesterday[stat.id], row.lastWeek[stat.id], stat.higherIsBetter %}
          </div>
          <div data-bundesland="{{ province.BundeslandID }}" data-stat="{{ stat.id }}" class="covid19-table__cell covid19-table__value {{ "hide" if province.BundeslandID !== defaultProvince }}">
            {{ row.lastMonth[stat.id] | round | formatNumber(stat.isPercent) }}
            {% covid19AtDiffBetweenValues row.yesterday[stat.id], row.lastMonth[stat.id], stat.higherIsBetter %}
          </div>
        {% endfor %}
      {% endfor %}
  </div>
  <p>Zuletzt aktualisiert am <em>{{ 'DD.MM.YYYY' | currentDate }}</em> um <em>{{ 'HH:mm' | currentDate }}</em>. Datenquellen: BMSGPK, <a href="https://www.data.gv.at/covid-19">Österreichisches COVID-19 Open Data Informationsportal</a>
</main>