---
title: COVID19 Data Austria
layout: base
structure: hmf
version: 1.0.0
created_at: 2020-10-24T15:30:07.645Z
updated_at: 2020-10-24T15:30:07.645Z
scripts:
  - /covid19-at/main.js
styles:
  - /covid19-at/main.css
---
{% set defaultProvince = 10 %}
{% set stats = [ 
  { id: 'sevenDayIncidence', name: '7 Tage Inzidenz' },
  { id: 'cases', name: 'Fälle' },
  { id: 'deaths', name: 'Todesfälle' },
  { id: 'recoveries', name: 'Genesene' }
] %}
{% set provinces = [
  { id: 10, name: 'Österreich' },
  { id: 1, name: 'Burgenland' },
  { id: 2, name: 'Kärnten' },
  { id: 3, name: 'Niederösterreich' },
  { id: 4, name: 'Oberösterreich' },
  { id: 5, name: 'Salzburg' },
  { id: 6, name: 'Steiermark' },
  { id: 7, name: 'Tirol' },
  { id: 8, name: 'Vorarlberg' },
  { id: 9, name: 'Wien' }
] %}
<header class="header header--covid19-at main">
  <h1>COVID19 in <br>Österreich</h1>
</header>
<main class="main">
  <section>
    <table class="overview-table">
      <thead>
        <tr>
          <th>
            <select id="select-7ti">
              {% for province in provinces %}
                <option value="{{ province.id }}">{{ province.name }}</option>
              {% endfor %}
            </select>
          </th>
          <th>Heute</th>
          <th>Gestern</th>
          <th>Vor 7 Tagen</th>
          <th>Vor 30 Tagen</th>
      </thead>
      <tbody>
        {% for province in provinces %}
          {% for stat in stats %}
          <tr 
            data-stat="{{ stat.id }}" 
            data-bundesland="{{ province.id }}" 
            class="data-row {{ "" if province.id === defaultProvince else "hide" }}">
          <td class="row-header">{{ stat.name }}</td>
          <td data-col="today"></td>
          <td data-col="yesterday"></td>
          <td data-col="week"></td>
          <td data-col="month"></td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </section>
  <section>
    <h2 id="sieben-tage-inzidenz">
      <a href="#sieben-tage-inzidenz">7 Tage Inzidenz</a>
    </h2>
    <div id="chart-7ti"></div>
  </section>
</main>