.header--covid19-at h1 {
  text-align: left;
}

#chart-7ti {
  width: 100%;
  position: relative;
}

#chart-7ti text {
  font-family: var(--body-font-family);
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 15ch;
  padding: 1ch;
  font-size: 0.75rem;
  border: 2px solid white;
  pointer-events: none;
  color: white;
}

.overview-table {
  border-collapse: collapse;
  width: 100%;
}

.overview-table tr.hide {
  display: none;
}

.overview-table th,
.overview-table td {
  padding: 0.2rem;
}

.overview-table td {
  vertical-align: top;
  text-align: right;
  width: 8ch;
}

.overview-table th {
  text-align: center;
}

.overview-table th:first-child,
.overview-table td:first-child {
  width: 20ch;
}

.overview-table tr:last-child td {
}

.overview-table tr:nth-child(odd) td {
  background: #efefef;
}

.overview-table td span {
  color: #555;
  display: block;
  font-size: 0.75rem;
}

.overview-table td span.plus {
  color: red;
}

.overview-table td span.minus {
  color: green;
}

.overview-table .row-header {
  font-family: var(--headline-font-family);
  font-size: 1.2rem;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  padding: 0.3rem;
}
