.header--covid19-at {
}

.header--covid19-at h1 {
  font-family: var(--body-font-family);
  font-weight: 200;
  line-height: 1;
}

.header--covid19-at h1 strong {
  font-style: normal;
  font-weight: 700;
}

.header--covid19-at .meta {
  text-align: center;
}

.main--covid19-at {
  font-family: Bould;
}

.covid19-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 700px) {
  .covid19-table {
    grid-template-columns: repeat(5, 1fr);
  }
}

.covid19-table__select {
  grid-column: 1 / span 4;
  text-align: center;
}

@media (min-width: 700px) {
  .covid19-table__select {
    grid-column: 1;
    text-align: left;
  }
}

.covid19-table__header,
.covid19-table__stat-name,
.covid19-table__value {
  padding: 0.2rem;
}

.covid19-table__stat-name.hide,
.covid19-table__value.hide {
  display: none;
}

.covid19-table__header {
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
}

.covid19-table__header .date {
  font-size: 0.8rem;
}

.covid19-table__stat-name {
  grid-column: 1 / span 4;
  font-size: 1.2rem;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
  padding: 0.3rem;
}

@media (min-width: 700px) {
  .covid19-table__stat-name {
    grid-column: 1;
  }
}

.covid19-table__stat-description {
  font-size: 1rem;
  font-weight: normal;
}

.covid19-table__value {
  text-align: right;
}

.covid19-table__value .compare {
  color: #555;
  display: block;
  font-size: 0.75rem;
}

.covid19-table__value .plus {
  color: red;
}

.covid19-table__value .minus {
  color: green;
}

.covid19-legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.covid19-legend__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
}

.covid19-legend__item:first-child {
  margin-left: 0;
}

.covid19-legend__item::before {
  display: block;
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 3px;
  margin-right: 0.5rem;
}

.covid19-legend__item--vizcaya::before {
  background-color: var(--vizcaya);
}

.covid19-legend__item--night-market::before {
  background-color: var(--night-market);
}

.covid19-progress {
  display: none;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c5c5c5' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  height: 32px;
  margin-bottom: 0.25rem;
  position: relative;
}

#covid19-vacc-progress-10 {
  display: block;
}

.covid19-progress__bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
}

.covid19-progress__bar-label {
  position: absolute;
  content: '.';
  bottom: 0;
  right: 0;
  color: white;
  padding-right: 3px;
  font-size: 0.85rem;
}

.covid19-progress__bar--vizcaya {
  background: var(--vizcaya);
}

.covid19-progress__bar--night-market {
  background: var(--night-market);
}

.covid19-progress__label {
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  font-size: 12px;
  padding: 1px;
}

#covid19-vacc-progress-toggle {
  margin-bottom: 3rem;
}

#covid19-vacc-progress-toggle::before {
  display: inline-block;
  width: 16px;
  content: '► ';
  transition: transform 250ms ease-out;
}

#covid19-vacc-progress-toggle.collapsed::before {
  transform: rotate(0turn);
}

#covid19-vacc-progress-toggle.expanded::before {
  transform: rotate(0.25turn);
}

.covid19-incidence-chart {
  margin-bottom: 3rem;
}

.covid19-incidence-chart svg {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c5c5c5' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.covid19-incidence-chart .point-value {
  opacity: 0;
  font: 0.75rem var(--body-font-family);
  fill: #fff;
}

@media (max-width: 450px) {
  .covid19-incidence-chart .point-value {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .covid19-incidence-chart .point-value {
    font-size: 1.25rem;
    opacity: 1;
    transform: translate(0, 10px);
  }
}

.covid19-incidence-chart:hover .point-value {
  opacity: 1;
}
