#emojicon {
  margin: 0 auto;
  max-width: 650px;
  padding: 0 0.5rem;
}

#emojicon .grid {
  display: grid;
  grid-template-columns: auto auto;
}

#emojicon label {
  display: block;
  font-weight: 900;
}

#emojicon .examples {
  margin-top: 0.5rem;
}

#emojicon .result-data-url {
  margin-top: 1rem;
  grid-column: 1 / span 2;
}

#emojicon #emoji {
  border: 3px solid slategray;
  font-size: 3rem;
  padding: 0.5rem;
  width: 128px;
}

#emojicon #emoji:focus {
  border-color: var(--violet);
  outline: 0;
}

#emojicon #data-url {
  background: darkslategrey;
  border: 0;
  border-radius: 0;
  color: white;
  display: block;
  height: 5rem;
  margin: 0;
  padding: 1rem;
  white-space: pre-line;
  width: calc(100% - 2rem);
  word-break: break-all;
}

#emojicon #data-url:focus {
  background: var(--violet);
  outline: 0;
}