.main {
  grid-area: main;
}

.main--index {
  background: var(--primary-color);
  font: 14px var(--monospace-font-family);
  color: var(--primary-contrast-color);
}

.main--index a:link,
.main--index a:active,
.main--index a:visited {
  color: var(--primary-contrast-color);
}

.main section {
  margin-bottom: 2rem;
}
