.header {
  grid-area: header;
  margin: 2rem auto;
}

.header--index {
  font: 13px var(--monospace-font-family);
  color: var(--primary-contrast-color);
  display: flex;
  justify-content: center;
  margin: 0;
}

.header h1 {
  font-family: var(--headline-font-family);
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 1rem 0;
  padding: 0 2rem;
  text-align: center;
}

.header--index h1 {
  font-size: 1.75rem;
  font-family: var(--monospace-font-family);
  margin: 1rem 0 0;
  text-align: left;
}

@media (min-width: 340px) {
  font-size: 2rem;
}

.header .h1-cli__seperator {
  color: var(--secondary-color);
}

.header .h1-cli__command {
  color: var(--light-grey);
}
